* {
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #cfcfcf;
}
.boxGrid{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 399px;
  gap: 20px;
  flex: 1 auto;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  border: 2px #999 solid;
}
.box{
  height: 100px;
  width: 100px;
  border: 2px #000 solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  border-radius: 5px;
  cursor: pointer;
}