:root{
  --radius: 10px;
}

body{
  background-color: #E5E5E5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container{
  width: 800px;
  background-color: white;
  border-radius: var(--radius);
  box-shadow: 0 3px 3px #000;
  margin: 10px auto;
}
.navbar{
  color: white;
  text-align: center;
  background-color: #F55A5A;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  height: 50px;
  line-height: 50px;
}
.navbar img {
  margin-bottom: -7px;
  margin-right: 10px;
}