@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background-color: #1C1C1C;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Karla", sans-serif;
}
.container{
  display: inline-block;
  height: 550px;
  width: 500px;
  background-color: #F5F7FB;
  margin-top: 30px;
  position: relative;
  overflow: hidden;
}
.blobs{
  display: contents;
  height: 500px;
  width: 500px;
  position: relative;
  /* z-index: -100; */
  
}
.blobs > div {
  transition-timing-function: ease;
}
.yellowBlob{
  background-color: #fffad1;
  border-radius: 19% 81% 71% 29% / 53% 45% 55% 47%;
  width: 230px;
  height: 300px;
  position: absolute;
  transform: rotate(-40deg);
  right: -100px;
  top: -100px;
}
.blueBlob{
  background-color: #DEEBF8;
  width: 230px;
  height: 300px;
  border-radius: 100px;  
  position: absolute;
  /* transform: rotate(-40deg); */
  left: -80px;
  bottom: -210px;
  
}
.quizBox{
  z-index: 100;
  background: transparent;
  position: relative;
}